body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  margin: 0;
  padding: 20px;
}


.cv-container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  overflow: hidden;
  animation: fadeIn 1s ease-in;
}


.cv-header {
  text-align: center;
  padding: 40px 20px;
  background: #0077b6;
  color: #fff;
}

.cv-header .profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

.cv-header h1 {
  margin: 10px 0 5px;
  font-size: 2.5em;
}

.cv-header h2 {
  margin: 5px 0 20px;
  font-weight: 400;
  color: #d9f0ff;
}

.header-contact p {
  margin: 5px 0;
  font-size: 0.95em;
}


.cv-section {
  padding: 20px 30px;
  border-bottom: 1px solid #eee;
}

.cv-section h3 {
  margin-bottom: 15px;
  color: #0077b6;
  font-size: 1.3em;
}

.cv-section .item {
  margin-bottom: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.skills li {
  background: #e9f5ff;
  color: #0077b6;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 8px;
  font-weight: bold;
}


.redes .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.redes .social-links a {
  font-size: 1.8em;
  color: #0077b6;
  transition: transform 0.3s, color 0.3s;
}

.redes .social-links a:hover {
  transform: scale(1.2);
  color: #023e8a;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.trabajo {
  margin: 10px 0;
  margin-left: 20px;
  margin-right: 600px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  
}

.titulo {
  cursor: pointer;
  padding: 8px 10px;
  font-weight: bold;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.detalle {
  display: none;
  padding: 8px 10px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.flecha {
  transition: transform 0.3s ease;
}
.flecha.abierto {
  transform: rotate(90deg);
}

